[Unit]
Description=VS Fashion Backend API
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/backend
Environment="PATH=/home/ubuntu/backend/venv/bin"
ExecStart=/home/ubuntu/backend/venv/bin/uvicorn server:app --host 127.0.0.1 --port 8000

[Install]
WantedBy=multi-user.target
